language: julia
os:
  - linux
  - osx
julia:
  - 0.6
  - nightly
notifications:
  email: false
addons:
  apt:
    packages:
    - hdf5-tools
matrix:
  allow_failures:
    - os: osx
    - julia: nightly
after_success:
  - julia -e 'cd(Pkg.dir("Caesar")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
  - julia -e 'Pkg.add("Documenter")'
  - julia -e 'cd(Pkg.dir("Caesar")); include(joinpath("docs", "make.jl"))'
